<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <img src="logo.png" alt="Smiley face" height="450" width="700" />
    <p class="lead">Admin Web page</p>
    <hr />
    <a class="btn btn-block btn-social btn-google " href="/auth/google" role="button">

      <i class="fab fa-google"></i>
      Sign In with Google
    </a>

    <p><%= error.message %></p>

  </div>
</div>

<%- include('partials/footer') %>